.HomeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  @media screen and (max-width: 760px) {
      .HomeList {
          justify-content: center;
      }
  }